@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
  }

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* task-1 */

h2 {
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
margin-bottom: 16px;
}

li>ul>li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

li>ul>li:last-child {
  margin-bottom: 0;
}

.item {
border-radius: 8px;
padding: 16px;
width: 392px;
min-height: 100%;
background-color: #f6f6fe;
margin-bottom: 24px;
}

/* task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 100px 156px;
  max-width: 1440px;
}

.gallery>li {
  flex: 0 0 360px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}

/* task-3 */

#name-input {
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 24px;
}

#name-input::placeholder {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.task-3-text {
  margin-left: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.login-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 24px;
  gap: 8px;
}

.form-btn {
  margin-top: 8px;
}

input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-top: 8px;
}

label {
  font-weight: 400;
  font-size: 16px;
}

/* task-5 */

.widget {
  margin: 100px 88px;
  max-width: 169px;
}

.color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  padding: 8px 16px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 148px;
  height: 40px;
  margin: 16px auto 0;
}